---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/nw/Footer.astro";
import Header from "../components/Header.astro";
import Project from "../components/nw/Project.astro";
import CSProject from "../components/nw/CSProject.astro";

type PinnedRepo = {
  owner: string;
  repo: string;
  description: string;
  language: string;
  languageColor: string;
  stars: number;
  forks: string;
};
const pinnedRepos = await fetch(
  "https://gh-pinned.nxl.sh/api/user/nim1com"
).then(async (response) => {
  return (await response.json()) as PinnedRepo[];
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Niklas Wojtkowiak" description="Temporary Description" />
  </head>

  <body>
    <Header title="Title" />
    <main class="text-lg text-neutral-200">
      <h1 class="text-4xl pb-2">Hi, I'm Niklas</h1>
      <p>
        I'm a 14 y/o self-taught developer and I like to build cool stuff. I'm
        interested in <b>language design</b>,
        <b>web development</b> and I live on the <b>terminal</b>.
      </p>
      <br />
      <p>
        I'm currently in 9th grade. In my free
        time I like to write <a href="https://github.com/Nim1com">code</a> and play Lacrosse. I also like listening to music and going on cycling trips with
        friends.
      </p>
      <br />
      <br />
      <h2 class="text-3xl pb-4">Things I've Built for MHS CS Club</h2>

      <section
        class="grid grid-cols-1 gap-4 auto-cols-max sm:grid-cols-2 sm:gap-3"
      >
        <CSProject
          name="MHS CS Club Website"
          link="/"
          description="This site is a place for members of the MHS CS Club to share their projects and to learn about the club."
          language="Astro"
        />
      </section>
      <br>
      <br>
      <h2 class="text-3xl pb-4">Things I've Built on Github</h2>

      <section
        class="grid grid-cols-1 gap-4 auto-cols-max sm:grid-cols-2 sm:gap-3"
      >
        {
          pinnedRepos.map((repo) => {
            return (
              <Project
                name={repo.repo}
                owner={repo.owner}
                description={repo.description}
                stars={repo.stars}
                language={repo.language}
              />
            );
          })
        }
      </section>
    </main>
    <Footer />
  </body>
</html>